<footer class="footer">
  <div class="container footer-container footer-container-sun">
    <div class="footer-copyrights">
      <small class="footer-copyrights-text">
        © 2012-2020 Управляющая компания Объединенной сети «Лагуна Хотелс»
        <br/>
        <br/>
        Представленная на сайте информация
        <br/>
        носит справочный характер и не является публичной офертой
      </small>
      <a href="#" class="footer-user-agree">Пользовательское соглашение</a>
    </div>
    <div class="footer-contacts">
      <address class="footer-address">
        11710, улица Юности, дом 5 строение 4, офис 2
      </address>
      <a href="tel:+74995356434" class="section-contacts-link">
        +7 (499) 535-64-34 </a
      ><br/>
      <a href="tel:+74950050544" class="section-contacts-link">
        +7 (495) 005-05-44
      </a>
      <br/>
      <br/>
      <div class="footer-mails">
        <a href="mailto:lg.oona@mail.ru" class="section-contacts-link"
        >lg.oona@mail.ru</a
        >
        <br/>
        <a href="mailto:hotels.ln@mail.ru" class="section-contacts-link"
        >hotels.ln@mail.ru</a
        >
      </div>
    </div>
    <ul class="social-footer-list">
      <li class="social-footer-icon1"></li>
      <li class="social-footer-icon2"></li>
      <li class="social-footer-icon3"></li>
      <li class="social-footer-icon4"></li>
      <li class="social-footer-icon5"></li>
    </ul>
  </div>
</footer>
</body>
</html>