<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Lagoona - сеть отелей</title>
</head>
<body class="bg-color">
<header class="header">
    <div class="container header-container">
        <div class="header-top">
            <a href="#" class="header-top-logo"
            ><img src="img/logo.svg" alt="Лагуна - сеть отелей"
                /></a>
            <a href="tel:+74953225448" class="header-top-number"
            >+7 495 322 54 48</a>