<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="templates/css/auth.css"/>
    <title>Authentication</title>
</head>
<body>
<main class="main">
    <div class="form__container">
        <form action="auth.php" method="post">
            <div class="imgcontainer">
                <img src="templates/img/img_avatar2.png" alt="Avatar" class="avatar"/>
            </div>

            <div class="container">
                <label for="login">
                    <b> Login </b>
                </label>
                <input
                        type="text"
                        placeholder="Enter Login"
                        name="login"
                        required
                />

                <?php
                if (isset($user->login)) {
                  if (!$db->checkIfExists($user->login)) { ?>
                    <br><strong>Неверный логин!</strong><br>
                  <?php }
                } ?>

                <label for="psw">
                    <b>
                        <?php
                            if (isset($_GET['update_password'])) {
                                echo 'Old password';
                            } else {
                                echo 'Enter password';
                            } ?>
                    </b>
                </label>
                <input
                        type="password"
                        placeholder="<?php
                            if (isset($_GET['update_password'])) {
                                echo 'Enter Old password';
                            } else {
                                echo 'Enter password';
                            } ?>"
                        name="password"
                        required
                />

                <?php
                    if (isset($_GET['update_password'])) { ?>
                <b> New Password </b>
                <input
                        type="password"
                        placeholder="Enter New Password"
                        name="new_password"
                        required/>
                <?php } ?>

                <?php
                if (!$user->isAuth() && isset($user->password)) { ?>
                <br>
                <b>Неверный пароль!</b>
                <?php } ?>

                <button type="submit">Login</button>
            </div>
            <div class="container" style="background-color: #f1f1f1">
                <button type="button"
                        class="cancelbtn"
                        onclick="location.href='index.php'">Cancel
                </button>
                <?php if (!isset($_GET['update_password'])) { ?>
                <a href="?update_password=true"> Forgot password? </a>
                <?php } ?>
            </div>
        </form>
</main>
</body>
</html>