<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1> Личный кабинет пользователя
  <?php if (isset($_SESSION['login'])) {
        echo $_SESSION['login'];
    } ?> </h1>
<form action="mypage.php" method="post">
  <b> Редактировать пароль: </b>
  <p> Введите старый пароль</p>
  <input type="password"
         placeholder="Enter Password"
         name="password"
         required>
  <br>
  <p> Введите новый пароль </p>
  <input type="password"
         placeholder="Enter New Password"
         name="new_password">
  <br>
  <input type="submit"
         value="Отправить"
         required>
</form>
</body>
</html>